<!Doctype html>
<html>
<head>
  <title>ALEX for Jira</title>

  <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-form-validation")
    $webResourceManager.requireResource("de.alex.jiraplugin.jiraPlugin:afj-config-page-resources")

  <style>
    #messages {
      margin-top: 4px;
    }

    .aui-page-panel-content hr {
      border: none;
      border-top: 1px solid #cccccc;
    }
  </style>
</head>
<body>

<h4>Configuration</h4>
<hr>

<div id="messages"></div>

<form id="config-form" class="aui top-label">
  <h3>ALEX Adapter</h3>
  <fieldset class="top-label">
    <div class="field-group top-label">
      <label for="name">URL (without trailing slash)</label>
      <input
          type="url"
          id="url"
          name="url"
          class="text"
          placeholder="http://..."
          value="http://"
          required
          data-aui-validation-field
          data-aui-validation-pattern="^https?:\/\/.+"
          data-aui-validation-pattern-msg="Not a valid URL"
      >
    </div>
    <div class="field-group top-label">
      <label for="name">Email</label>
      <input
          type="email"
          id="email"
          name="email"
          class="text"
          value=""
          required
          data-aui-validation-field
      >
    </div>
    <div class="field-group top-label">
      <label for="name">Password</label>
      <input
          type="password"
          id="password"
          name="password"
          class="text"
          value=""
          required
          data-aui-validation-field
      >
    </div>
  </fieldset>

  <h3>Jira</h3>
  <fieldset class="top-label">
    <div class="field-group top-label">
      <label for="name">Issue type where ALEX related actions are displayed</label>
      <select
          id="issueType"
          name="issueType"
          class="select"
          required
          data-aui-validation-field
          data-aui-validation-required>

        #foreach($issueType in $issueTypes)
          <option value="$issueType.getId()">$issueType.getName()</option>
        #end
      </select>
    </div>
    <div class="field-group top-label">
      <label for="name">The <strong>key</strong> of the project</label>
      <input
          type="text"
          id="projectKey"
          name="projectKey"
          class="text"
          required
      >
    </div>
  </fieldset>

  <hr>

  <fieldset class="top-label">
    <div class="field-group">
      <input type="submit" value="Save" class="button">
    </div>
  </fieldset>
</form>

</body>
</html>
